<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/styles.css">
        <title>Welcome to My Button Pushing Page</title>
    </head>
    <body>
        <div id="header">
            <h1>Welcome to my button pushing page</h1>
        </div>
        <div id="Text">
            <h2>Please select what dumb thing you would like to do below</h2>
            <P>Each button press will activate corresponding thingy for 5 seconds, and then turn off</P>
            <p>Please don't press the buzzer, that sound is A-NOY-ING!</p>
        </div>
        <div>
            <form action="/redLed/" method="POST">
            <button class="button buttonred" type="submit">Red Light</button>
            </form>
        </div>
        <div>
            <form action="/yellowLed/" method="POST">
            <button class="button buttonyellow" type="submit">Yellow Light</button>
            </form>
        </div>
        <div>
            <form action="/greenLed/" method="POST">
            <button class="button buttongreen" type="submit">Green Light</button>
            </form>
        </div>
        <div>
            <form action="/buz/" method="POST">
            <button class="button buttonbuzzer" type="submit">Buzzzzzzzerrrrr</button>
            </form>
        </div>
    </body>
</html>

