<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/styles.css">
        <title>Welcome to My Button Pushing Page</title>
    </head>
    <body>
        <div id="header">
            <h1>Welcome to my button pushing page</h1>
        </div>
        <div id="Text">
            <h2>Please select what dumb thing you would like to do below</h2>
            <P>Each button press will activate corresponding thingy for 5 seconds, and then turn off</P>
            <p>Please don't press the buzzer, that sound is A-NOY-ING!</p>
        </div>
        <div>
            <button class="button buttonred" onclick="redLed()">Red Light</button>
            <button class="button buttonyellow" onclick="/yellowLed/">Yellow Light</button>
            <button class="button buttongreen" onclick="/greenLed/">Green Light</button>
            <button class="button buttonbuzzer" onclick="/buz/">Buzzer</button>
        </div>
    </body>
</html>